/* Common CSS */
body{
    margin: 0 auto;
    font-family: 'Lucida Sans';
}
button{
    background-color: #E55473;
    border: 0;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
small{
    color: gray;
}
section{
    padding: 150px;
    text-align: center;
}
.sub-heading{
    font-size: 30px;
}
span{
    color: #E55473;
}
/* Header CSS */
.header-container{
    background-color: #f7e7ea;
    display: flex;
    align-items: center;
    padding: 50px 150px;
}
.header-content{
    width: 50%;
    padding: 15px;
}
.header-content h1{
    font-size: 50px;
}
.header-content img{
    height: 635px;
}
/* Featured Flower Section CSS */
.feature-img{
    display: flex;
    margin-top: 50px;
    height: 350px;
    gap: 20px;
    justify-content: space-between;
}
.feature-img img{
    height: 300px;
    width: 100%;
}
.feature-img1, .feature-img2, .feature-img3{
    padding-top: 50px;
    border-radius: 50% 50% 0% 0%;
    width: 300px;
}
.feature-img1{
    background-color: #f7d3db;
}
.feature-img2{
    background-color: rgb(212, 239, 250);
}
.feature-img3{
    background-color: rgb(224, 223, 223);
}
.feature-img-label{
    font-weight: bold;
    color: rgb(94, 93, 93);
    text-decoration: underline;
}
/* Hot Deal CSS */
.hotdeal-text{
    text-align: center;
}
.hotdeal-img img{
    height: 250px;
}
/* Instragram CSS */
.instragram-text{
    width: 50%;
    margin: 0 auto;
}